body {
  color: #FFFFFF;
  background: #333333 url("static/img/bg.png");
  font-family: "Russo One", sans-serif;
  font-size: auto;
}

hr {
  border-color: #000;
}

small {
  color: #c4c4c4;
  font-size: 75%;
}

.front_and_center {
  margin-top: 30px;
  text-align: center;
  width: 600px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.sun {
  color: #f1c40f !important;
}

.gray {
  color: #cacaca;
}

.emerald {
  color: #2ecc71 !important;
}

a:hover {
  color: #fff;
}

a:link, a:visited, a:active {
  color: #F87920;
}

footer {
  background-color: #272727;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 25px;
  width: 100%;
  overflow: hidden;
}

.icon_set a {
  color: #eee;
}

.icon_set i {
  margin: 0 5px;
}

.icon_set i:hover {
  color: #888;
}

.code-icons i {
  cursor: pointer;
  font-size: 34px;
  margin-right: 4px;
}

.projects {
  margin-left: 5%;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo {
  border-radius: 10%;
  margin-top: 5%;
}

.cool_button {
  display: block;
  padding: 10px;
  background: rgba(25, 25, 25, 0.5);
  border-radius: 10px;
  color: #fff !important;
}

.cool_button:hover {
  color: #F87920;
  text-decoration: none;
  background: #181818;
}
