.emoji {
  width: 1em;
  height: 1em;
  margin: 0 .05em 0 .1em;
  display: inline-block;
  vertical-align: -.1em;
  
  background: {
    size: 1em 1em;
    repeat: no-repeat;
    position: center center;
  }
}

.repo { background-image: url( ../img/GitHub/repo.svg ) !important; }
.repo-force-push { background-image: url( ../img/GitHub/repo-force-push.svg ) }